Source: wasta-cinnamon
Section: utils
Priority: optional
Maintainer: Rik Shaw <rikshaw76@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 4.4.0
Homepage: https://github.com/wasta-linux/wasta-cinnamon

Package: wasta-cinnamon
Architecture: all
Depends: arc-theme, cinnamon, cinnamon-layout-5-2, lightdm, muffin, nemo, slick-greeter, wasta-backgrounds, wasta-core, wasta-multidesktop, wasta-papirus, ${misc:Depends}
Recommends: blueberry, bookletimposer, gir1.2-nemo-3.0, nemo-audio-tab, nemo-compare, nemo-fileroller, nemo-image-converter, wasta-vertex-ubuntu
Description: Wasta-Linux Cinnamon Tweaks
 Wasta-Linux Cinnamon core adjustments.
